nav {
  background-color: royalblue !important ;
  position: relative;
}

.nav-coloum {
  margin-right: 15px;
  margin-left: 15px;
  font-family: monospace;
}
.navbar {
  height: 60px;
  text-align: center;
  font-size: large;
  font-style: oblique;
}
.React-image {
  width: 100%;
}
.social_style {
  margin-left: 10px;
}
